@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.app-container {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: auto;

    &> main {
        width: 100%;
        flex: 1;

        &> *:not(#main-slider) {
            padding: 0 8.333%;
        }
    }
}