.swiperButtons {
    max-width: 1600.03px;
    width: calc(100% - 16.66666%);
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 0;
    transform: translateY(-205px);

    @media screen and (max-width: 767px) {
        display: none;
    }

    .prev-btn, .next-btn {
        width: 36px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid rgba(147, 147, 147, 0.25);
        border-radius: 100%;
        cursor: pointer;
    }

    .prev-btn {
        transform: translateX(-56px) rotate(180deg);
        background-image: url('/icons/arrow-right.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 8px;
    }

    .next-btn {
        transform: translateX(56px);
        background-image: url('/icons/arrow-right.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 8px;
    }
}

.mySwiperSkeleton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 40px;
    grid-auto-rows: 0;
    overflow-y: hidden;

    @media screen and (max-width: 1499px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 40px;
    }

    @media screen and (max-width: 1199px) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    @media screen and (max-width: 549px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

.tempSliderData {
    display: none;
}

.spinner {
    max-width: 1600.03px;
    width: calc(100% - 16.66666%);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    @media screen and (max-width: 549px) {
        &> img {
            height: 14px;
        }
    }
}