.advertisement__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 20px;

    .inner {
        width: 100%;
        height: auto;

        .advertisement__container-items {
            padding-top: 20px;
            overflow: hidden;

            @media screen and (max-width: 767px) {
                & {
                    overflow: visible;
                }
            }
        }
    }
}