.advertisement__item {
    width: 100%;
    height: 272px;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    @media screen and (max-width: 549px) {
        & {
            height: 174px;
        }
    }

    .advertisement__item-slider {
        width: 100%;
        height: 162px;
        overflow: hidden;

        &>div {
            height: 100%;

            .swiper-wrapper-img {
                height: 100%;
                display: flex;
        
                .advertisement-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    display: none;
                }

                .swiper-slide-img {
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;
                    position: relative;
                    transition-property: transform;
        
                    .skeleton {
                        width: 100%;
                        height: 100%;
                        animation: skeleton-loading 1s linear infinite alternate;
                    }
                }
            }

            .__prev__ {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: #FFFFFF;
                transform: rotate(180deg) translateX(-10px);
                box-shadow: 0px 10px 15px rgba(147, 147, 147, 0.25);
                cursor: pointer;
                background-image: url('/icons/arrow-right-mini.svg');
                background-position: 6px 5px;
                background-repeat: no-repeat;
                background-size: 8.2px;
                position: absolute;
                top: 75px;
                display: none;

                @media screen and (max-width: 549px) {
                    & {
                        display: none !important;
                    }
                }
            }

            .__next__ {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: #FFFFFF;
                box-shadow: 0px -10px 15px rgba(147, 147, 147, 0.25);
                cursor: pointer;
                background-image: url('/icons/arrow-right-mini.svg');
                background-position: 6px 5px;
                background-repeat: no-repeat;
                background-size: 8.2px;
                transform: translateX(-10px);
                position: absolute;
                top: 75px;
                right: 0;
                display: none;

                @media screen and (max-width: 549px) {
                    & {
                        display: none !important;
                    }
                }
            }
        }

        @media screen and (max-width: 549px) {
            & {
                height: 100px;
            }
        }
    }

    .advertisement__item-price {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #242527;

        @media screen and (max-width: 549px) {
            & {
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }

    .advertisement__item-details > p {
        font-size: 12px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        line-height: 18px;
        color: #939393;

        @media screen and (max-width: 549px) {
            & {
                font-size: 8px;
                line-height: 12px;
            }
        }
    }
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}